@import './src/styles.scss';

.home-intro {
  background-image: url('../../../assets/home/background-football-field.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 90%;
}

.home-presentation {
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-evenly;
  align-items: center;
}

.home-presentation-base {
  font-family: Barlow;
  font-stretch: normal;
  text-align: center;
  color: $white;
}

.home-presentation-title {
  font-size: 4rem;
  font-weight: 600;
  font-style: italic;
  line-height: 1.04;
  letter-spacing: normal;
}

.home-presentation-halftitle {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1.5px;
}



@media only screen and (max-width: 768px) {
  .home-intro {
    height: 100%;
  }

  .home-presentation-title {
    font-size: 2rem;
  }
}
