<footer class="footer-container">
  <div class="footer-logo-row">
    <div class="footer-logo-container">
      <img src="/assets/home/luefi-footer-logo.jpg" class="footer-luefi-logo" alt="luefi logo" />
    </div>
    <div class="footer-social-container">
      <img src="/assets/home/facebook-logo.svg" class="facebook-logo" alt="facebook logo" />
      <img src="/assets/home/twitter-logo.svg" class="twitter-logo" alt="twitter logo" />
      <img src="/assets/home/instagram-logo.svg" class="instagram-logo" alt="instagram logo" />
    </div>
  </div>
  <div class="footer-contact-row">
    <div>
      <a class="footer-contact-text" href="">Contacto</a>
      <a class="footer-contact-text" href="">Reglamento</a>
      <a class="footer-contact-text" href="">Nosotros</a>
    </div>
    <div><span class="footer-contact-text">Copyright Torneo LUEFI</span></div>
  </div>
</footer>
