@import './src/styles.scss';

.sponsors-title {
  padding-top: 3rem;
  height: 19px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.3px;
  text-align: center;
  color: $black;
}

.sponsors-container {
  height: 40%;
  background-color: $grey;
}
