<section class="sponsors-container">
  <article class="title-container"><h6 class="sponsors-title">SPONSORS</h6></article>
  <section class="sponsors-logos">
    <article class="center-both-ways">
      <img src="/assets/home/allnet-logo.png" class="home-banner-allnet-logo" alt="" />
    </article>
    <article class="center-both-ways">
      <img src="/assets/home/ares-sport-logo.jpg" class="home-banner-ares-logo" alt="" />
      <p class="ares-text">
        <span class="ares-text-bold">Ares Sport Accesorios Deportivos</span> <br />
        Correo: aressport@yahoo.com <br />
        Tel.: 02320-626282 <br />
        Cel.: 15-5880-9603 <br />
      </p>
    </article>
  </section>
</section>
