@import './src/sass/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,600i,700');

html,
body,
main {
  height: 100%;
}

span:focus {
  outline: none;
  border: 0;
}

input:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
}

.center-both-ways {
  display: flex;
  justify-content: center;
  align-items: center;
}
