@import './src/styles.scss';

.title-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.news-presentation-title {
  font-family: Barlow;
  font-size: 2rem;
  font-style: italic;
  line-height: 1.81;
  text-align: center;
  color: $black;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
}

.news-container :nth-child(odd) {
  flex: 0 50%;
  display: flex;
  justify-content: flex-end;
}
.news-container :nth-child(even) {
  flex: 0 50%;
  display: flex;
  justify-content: flex-start;
}

/* Small screens */
@media all and (max-width: 800px) {
  .news-container {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    padding: 0;
  }
}
